@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


.signuppage {
    min-width: 900px;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.nameholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.fname {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.fname>input {
    width: 170px;
}

.emailholder {
    width: 98%;
    display: flex;
    flex-direction: column;
}

.emailholder>input {
    width: 100%;
}

.passholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pass {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.showpassicon, .showconpassicon {
    cursor: pointer;
    display: flex;
    position: relative;
    left: 158px;
    bottom: 23px;
    color: rgb(114, 114, 114);
}
.showconpassicon:hover , .showpassicon:hover {
    color: aliceblue;
}

.pass>input {
    width: 170px;
}

.contentsofsignup {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    background-color: rgb(255, 252, 63);
    color: black;
    padding: 10px;
}

.signinbtn, .signinbtngoogle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0px;
    cursor: pointer;
}

.signinbtn {
    position: relative;
    top: 10px;
}

.signinbtn:hover {
    color: aliceblue;
    background-color: black;
}

.signinbtngoogle {
    background-color: rgb(65, 65, 65);
    color: aliceblue;
}

.signinbtngoogle:hover {
    background-color: black;
}

.or {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.or > div {
    width: 180px;
    border-top: 1px solid black;
}