.course {
    border: 1px solid rgb(189, 255, 233);
    border-radius: 4px;
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.like {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(186, 3, 73);
    border-radius: 100%;
    font-size: 20px;
}