

.app {
  min-height: 100vh;
  min-width: 1279px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 1px solid blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
}

